include markup/default
block content
	.wrapper
		section(id="intro", class="intro")
			+navMenu([
				{
					url: '#',
					link: 'HOME'
				},
				{
					url: '#',
					link: 'O EVENTO'
				},
				{
					url: '#',
					link: 'PROGRAMAÇÃO'
				},
				{
					url: '#',
					link: 'CONVIDADOS'
				},
				{
					url: '#',
					link: 'LOCAL'
				},
				{
					url: '#',
					link: 'PATROCINADORES'
				},
				{
					url: '#',
					link: 'CONTATO'
				}
			])
			+header('Header')
		.space-top
		section(id="about", class="about")
			h2="O Evento"
block footer
	include markup/scripts