include markup/default
block body
	body
block content
	.wrapper
		section(id="intro", class="intro")
			+navMenu([
				{
					url: '#intro',
					link: 'HOME'
				},
				{
					url: '#about',
					link: 'SOBRE'
				},
				{
					url: '#programacao',
					link: 'PROGRAMAÇÃO'
				},
				{
					url: '#local',
					link: 'LOCAL'
				},
				{
					url: '#patrocinio',
					link: 'PATROCÍNIO'
				},
				{
					url: '#contato',
					link: 'CONTATO'
				}
			])
			+header('Header')
		.space-top
		main(class="wrapper-content-home", role="main")
			section(id="about", class="section section-about animated-section-about slideInUp-Header")
				+sectionAbout()
			div(class="banner banner-one")
				h3="AQUEÇAM OS MOTORES :)"
			section(id="programacao", class="section section-programacao")
				+sectionProgramacao()
			section(id="local", class="section section-local")
				+sectionLocal()
			section(id="patrocinio", class="section section-patrocinio")
				+sectionPatrocinio()
			div(class="banner banner-two")
				h3="Nos Vemos em Breve"
			section(id="contato", class="section section-contato")
				+sectionContato()
block footer
	include markup/scripts