/*PULSE - HEADER*/
@-webkit-keyframes pulse-slow {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes pulse-slow {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
.pulse-slow {
  -webkit-animation-name: pulse-slow;
  animation-name: pulse-slow;
}

/*FADE IN UP - HEADER*/
@-webkit-keyframes fadeInUp-Header {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp-Header {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp-Header {
  -webkit-animation-name: fadeInUp-Header;
  animation-name: fadeInUp-Header;
}

/*ZOOM IN*/
@-webkit-keyframes zoomIn-Header {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn-Header {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn-Header {
  -webkit-animation-name: zoomIn-Header;
  animation-name: zoomIn;
}

/*SLIDE UP - HEADER*/
@-webkit-keyframes slideInUp-Header {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp-Header {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp-Header {
  -webkit-animation-name: slideInUp-Header;
  animation-name: slideInUp-Header;
}

/*NAV MENU - HEADER*/
@-webkit-keyframes animationNav {
  0% {
    z-index: 11;
    background: linear-gradient(rgba(23, 27, 35, 0.9), rgba(23, 27, 35, 0.9));
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }

  100% {
    z-index: 11;
    background: linear-gradient(rgba(23, 27, 35, 0.9), rgba(23, 27, 35, 0.9));
    -webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 0%, 0);
    opacity: 1;
  }
}

@keyframes animationNav {
  0% {
    z-index: 11;
    background: linear-gradient(rgba(23, 27, 35, 0.9), rgba(23, 27, 35, 0.9));
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }

  100% {
    z-index: 11;
    background: linear-gradient(rgba(23, 27, 35, 0.9), rgba(23, 27, 35, 0.9));
    -webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 0%, 0);
    opacity: 1;
  }
}

.animationNav {
  -webkit-animation-name: animationNav;
  animation-name: animationNav;
}