.animated-section-about
	-webkit-animation-duration: 1.5s
	animation-duration: 1.5s
	-webkit-animation-fill-mode: both
	animation-fill-mode: both
	-webkit-animation-delay: 1.6s
	animation-delay: 1.6s

.section-about
	#Layer_1
		position: absolute
		top: -12%
		width: 100%