html
	font-size: $base-font-size

body
	-webkit-backface-visibility:hidden

.hidden
	overflow: hidden

.wrapper-content-home
	background: #fff
	position: relative
	z-index: 9

.section
	padding-top: 100px
	padding-bottom: 100px

.title-section
	text-align: center
	h2
		font-family: 'Lato', sans-serif
		font-size: em(36px)
		font-weight: 600
		color: #d39641
		display: inline-block
		text-transform: uppercase
		text-align: right
		margin: 0
		position: relative
		&:after
			content: ""
			display: block
			width: 10px
			height: 10px
			background: #d39641
			position: absolute
			top: 24px
			left: -30px
			-webkit-transform: rotate(-45deg)
			transform: rotate(-45deg)
		&:before
			content: ""
			display: block
			width: 10px
			height: 10px
			background: #d39641
			position: absolute
			top: 24px
			right: -30px
			-webkit-transform: rotate(-45deg)
			transform: rotate(-45deg)

.content-section
	font-family: 'Roboto', sans-serif
	width: 450px
	margin: 0 auto
	margin-top: 50px
	color: #455a64
	text-align: justify
	h2
		font-size: em(26px)
	p
		font-size: em(16px)

.banner
	background-attachment: fixed
	height: 50vh
	background-position: center center
	background-size: cover
	text-align: center
	h2, h3, h4
		color: #fff
		font-family: 'Lato', sans-serif
		font-size: em(70px)
		font-weight: 200
		font-style: italic
		margin: 0
		padding: 130px 180px
		&:before
			content: ""
			display: block
			width: 60%
			height: 1px
			background: #fff
			position: relative
			top: -25px
			margin: 0 auto
		&:after
			content: ""
			display: block
			width: 60%
			height: 1px
			background: #fff
			position: relative
			top: 25px
			margin: 0 auto

@media screen and (-webkit-min-device-pixel-ratio:0) 
	.banner
		background-attachment: inherit

.banner-one
	background-image: url('/assets/image/banner1.jpg')
	