include mixins
<!DOCTYPE html>
html(lang="PT-BR")
	head
		meta(charset="UTF-8")
		meta(property="og:locale", content="pt_BR")
		meta(property="og:url", content="http://frontendcarioca.com.br")
		meta(property="og:title", content="Front End Carioca - 2015")
		meta(property="og:site_name", content="Front End Carioca")
		meta(property="og:description", content="O melhor evento de Front End do Rio de Janeiro.")
		meta(property="og:image", content="http://frontendcarioca.com.br/assets/image/metatag.jpg")
		meta(property="og:image:type", content="image/jpeg")
		meta(property="og:image:width", content="700")
		meta(property="og:image:height", content="400")
		meta(property="og:type", content="website")
		meta(name="description", content="Front-End Carioca - Rio de janeiro")
		meta(name="viewport", content="width=device-width")
		title="Front End Carioca 2015"
		link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="assets/style/animated.css")
		link(rel="stylesheet", href="assets/style/animate.css")
		link(rel="stylesheet", href="assets/style/main.css")
block body
	body
	block content
			
	block footer