include mixins
<!DOCTYPE html>
html(lang="PT-BR")
	head
		meta(charset="UTF-8")
		title="Front End Carioca 2015"
		link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="assets/style/animated.css")
		link(rel="stylesheet", href="assets/style/animate.css")
		link(rel="stylesheet", href="assets/style/main.css")
block body
	body
	block content
			
	block footer