mixin header(title)
	header(role="banner", data-parallax="scroll")
		.wrapper-intro(data-stellar-ratio="0.9")
			.intro-logo.animated-logo.fadeInUp-Header
				img(src="assets/image/logo.png" alt="Logo Front End Carioca 2015")
				h1="FRONT END CARIOCA"
			.row
				.intro-datails.animated-datails.pulse-slow
					span.intro-datails_text
						time(class="intro-datails_time")="Setembro, 2015"
						|  - Rio de Janeiro
				.intro-actions
					a(href="mailto:contato@frontendcarioca.com.br?subject=PATROCINIO - FRONT END CARIOCA 2015&body=Hello!", title="Seja um Patrocinador", class="animated-btns-left zoomIn-Header")="SEJA UM PATROCINADOR"
					a(href="http://even.tc/front-end-carioca-2015", title="Inscreva-se" class="animated-btns-right zoomIn-Header", target="_blank")="INSCREVA-SE"