mixin navMenu(items)
	nav(role="navigation", class="row navMenu")
		ul.navMenu--list
			each item, i in items
				li.navMenu--item
					if i === 0
						a(class="active", href="#{item.url}")=item.link
					else
						a(href="#{item.url}")=item.link
		a(href="mailto:contato@frontendcarioca.com.br?subject=PATROCINIO - FRONT END CARIOCA 2015", class="btn-menustick mobile")="PATROCINIO"
		a(href="http://even.tc/front-end-carioca-fila-de-espe", target="_blank", class="btn-menustick", onClick="_gaq.push(['_trackEvent', 'Links', 'Click', 'Inscreva-se'])")="LOTE EXTRA"
