mixin sectionLocal()
	.row
		.title-section
			h2="Local"
	.content-map
		div(id="map-canvas")
		.description-map
			h3="Auditório do Clube de Engenharia"
			p="Av. Rio Branco, 124 - Centro, Rio de Janeiro - RJ CEP: 20040-001"