mixin sectionLocal()
	.row
		.title-section
			h2="Local"
	.content-map
		div(id="map-canvas")
		.description-map
			h3="Rio de Janeiro, RJ"
			p="Ainda não está confirmado o local, nº 2015, Rio de Janeiro - RJ CEP: 202015-005"