mixin sectionLocal()
	.row
		.title-section
			h2="Local"
	.content-map
		div(id="map-canvas")
		.description-map
			a(href="https://www.google.com.br/maps/place/Clube+de+Engenharia/@-22.904918,-43.178072,17z/data=!3m1!4b1!4m2!3m1!1s0x997f5e44942bed:0xe6f52d490fb5bcf0", target="_blank", aria-label="Local do Evento")
				h3="Auditório do Clube de Engenharia"
				p="Av. Rio Branco, 124 - Centro, Rio de Janeiro - RJ CEP: 20040-001"