mixin sectionContato()
	.row
		.conduct-code
			a(href="http://pt-br.confcodeofconduct.com", target="_blank")="Código de Conduta"
		.title-section
			h2="Acompanhe nossas redes sociais"
		.content-section
			ul.social-list
				li
					a(href="https://www.facebook.com/frontendcarioca", class="facebook", target="_blank", aria-label="Curta nossa página no facebook")
						i(class="icon-social-facebook", aria-hidden="true")
				li
					a(href="https://twitter.com/frontendcarioca", class="twitter", target="_blank", aria-label="Nos siga no twitter")
						i(class="icon-social-twitter", aria-hidden="true")
				li
					a(href="https://github.com/front-end-carioca", class="github", target="_blank", aria-label="Github do Front end Carioca")
						i(class="icon-social-github", aria-hidden="true")
	footer
		.row
			.logo-footer
				img(src="assets/image/logo-footer.png", alt="Front end Carioca")
			.content-footer
				a(href="mailto:contato@frontendcarioca.com.br", class="email-contact")!="CONTATO<span>@</span>FRONTENDCARIOCA.COM.BR"
				p="© 2014 / 2015 - FRONT END CARIOCA. TODOS OS DIREITOS RESERVADOS."