mixin sectionProgramacao()
	.row
		.title-section
			h2="Programação"
		ul.timeline
			li
				.box-talk
					time.talk-time="8:30 - 9:30"
					h4.sub-title="Credenciamento"
					p="Não esqueça de trazer seu RG."