mixin sectionLocal()
	.row
		.title-section
			h2="Local"
	.content-map
		div(id="map-canvas")
		.description-map
			a(href="https://www.google.com.br/maps/place/Transam%C3%A9rica+Prime+Barra/@-23.0045026,-43.3412166,17z/data=!3m1!4b1!4m2!3m1!1s0x9bda13045cd0a7:0xab2d8c6de86e1407", target="_blank", aria-label="Local do Evento")
				h3="Hotel Transamerica Prime Barra - Auditório"
				p="Av. Gastão Senges, 395 - Barra da Tijuca, Rio de Janeiro/RJ - 22631-280"